body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: white;
    padding: 15px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.position-relative {
    position: relative;
}

.quote {
    margin-bottom: 20px;
    padding: 10px;
    border-left: 5px solid #333;
}

.quote p {
    margin: 5px 0;
}

.tags a {
    background-color: #00000076;
    padding: 5px 10px;
    margin-right: 5px;
    margin-top: 20px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
}

.author {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1em;
    margin-top: 10px;
}

.pagination a {
    text-decoration: none; /* Remove underline */
    font-weight: bold;    /* Make text bold */
    padding: 10px 15px;   /* Add padding for a bigger click area */
    border-radius: 5px;   /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.pagination a:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
    color: white;              /* Change text color on hover */
}

footer {
    background-color: #212529; /* Darker shade for better contrast */
    color: rgba(255, 255, 255, 0.85); /* Slight transparency for text */
    text-align: center;
    padding: 10px 20px;
    position: static; /* Ensure footer stays at the bottom */
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
    font-size: 0.9rem; /* Adjust font size for better readability */
    font-family: 'Arial', sans-serif;
}

footer a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

.author-select {
    height: auto; /* Оставляем высоту по умолчанию */
    max-height: 50px; /* Устанавливаем ограничение, если нужно */
}

.tag-select {
    height: 250px; /* Устанавливаем фиксированную высоту */
    overflow-y: auto; /* Добавляем прокрутку, если тегов много */
    border: 1px solid #ccc; /* Добавляем границу для лучшего визуального разделения */
    padding: 5px; /* Добавляем внутренний отступ для улучшения читаемости */
    border-radius: 5px; /* Скругляем углы для более приятного внешнего вида */
    background-color: #ffffff; /* Легкий фон для лучшего контраста */
}